[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.5"
gunicorn = "==19.9.0"
bokeh = "==1.3.4"

[requires]
# Pipenv doesn't allow multiple versions of
# python requirements. So we have temporarily
# removed this requirement. We are using python versions
# 3.5 or later ststed in the readme.
