/*.nav-link{
    color: black;
}
.dustinstest{
    color: red;
}
.active{
	color:red;
}
.dormant{
	color:red;
}
*/

/*.nav-rtl {
    float:right;
}

.ml-auto .dropdown-menu {
      left: auto !important;
      right: 0px;
    }*/