.input {
	width:100%;
}
.container{
	width: 500px;
}
h1, h2 a {
  	color: black;
}
.active {
	color: black;
	border: black;
}

.row {
    margin-right: 0px;
    margin-left: -15px;
}

ol.carousel-indicators {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
  background-color:#d6edf8;
  border: 1;
  border-color:'white';
}

ol.carousel-indicators li {
  float: left;
  width: 33%;
  height: 7px;
  margin: 0;
  border-radius: 0;
  border: 1;
  border-color:'white';
  background-color: #F5F5F5;
}
ol.carousel-indicators li.active {
  float: left;
  width: 33%;
  height: 7px;
  margin: 0;
  border-radius: 0;
  border: 0;
  background-color: #D6EDF8;
}

#content {
  height: 100%;
}

#trendText {
  text-align: center;
  color: #236D91;
  font-size: large;
  overflow: auto;
  white-space: nowrap;
  background-color: #D6EDF8;
}

#left {
  float: left;
  width: 100%;
  height: 495px;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5em;
  border: 0px;

}

#right {
  float: left;
  width: 45%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.5em;
}

#history {
  overflow: auto;
  white-space: nowrap;
}