{% extends 'base.html' %}
{% block content %}
    <!-- about page stuff here -->
    <h2 style="text-align: center; padding-top: 25pt"> Welcome to tweetBot! </h2>
    <br>
    <p style="text-align: center"> ffffffffffffffffffff fffffffffffffffffffff fffffffffffffffff fffffffffff fffffffff ffffffffff fffffffffffffff fffffffffff fffffffffffffffffff ffffffffffffff ffffffffffffff ffffffffffffff ffffffff ffffffffff ffffffff ffffffffffff ffffffffffff fffff fffff ffffffff ffffffff ffffffff fffffffffffff ffffff fffffffffffff fffffffffffffff fffffffffffff fffffffffffffff</p>
    <br>
    <p style="text-align: center"> ffffffffff fffffffffffffffff fffffffffff fffffffffff ffffffffff fffffffffffff fffffff fffffff fffffffffffff fffffffffff fffffffffffff ffffffffffffffff fffffffffffff ffffffffffff ffffffffffffff fffffffff ffffffffffff ffffffffffffff fffffffffffffff ffffffffffffff ffffffffff ffffffffff fffffffffffff ffffffff fffffffff ffffffffff fffffffffff fffffffffffff fffffffffffff ffffffff </p>
{% endblock %}
