{% extends 'base.html' %}
{% block content %}


  <p1>{{ text }}</p1>
  {% for tweet in tweets %}
  	<li>{{ tweet }}</li>
  {% endfor %}

  <!-- tested to see sentiment by printing it out
  {% for sentiment in sentiments %}
  	<li>{{ sentiment }}</li>
  {% endfor %} -->

  <div class="row">

  	<!-- Left column -->
    <div class="col-sm-6">
    	<!-- Dustin put your graph here my brotha -->
    </div>

    <!-- Right column -->
    <div class="col-sm-6">

    </div>

</div>

  <!--  This is for the graph display  -->
  {{ div | safe }}
  {{ script | safe }}

{% endblock content %}
