{% extends 'base.html' %}
{% block content %}
<script>
  $(function () {
    $('#datetimepickerUpper').datetimepicker();
 });
  $(function () {
    $('#datetimepickerLower').datetimepicker();
 });
  function delete_cookies() {
    document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
    location.reload(true);
  }
</script>

  <br>
  <div class="row">

    <div class="col-sm-10">
    </div>

    <div class="col-sm-2">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="background-color: #00acee">Cookie Warning</button>
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Cookie Warning</h4>
            </div>
            <div class="modal-body">
              <p>This website uses cookies to track search history for our users.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">Got it!</button>
            </div>
          </div>
        </div>
      </div>

      <br><br>

      <!-- put button here -->
      <form method="post">
        {% csrf_token %}
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#delModal" style="background-color: #00acee">Delete Cookies</button>
        <div class="modal fade" id="delModal" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Delete Cookies</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete cookies?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="delete_cookies()">Delete Cookies.</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">No thanks.</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
      <!-- header temporary holder for logo-->
      <h1 style="text-align: center; padding-top: 150px; color: #00acee; font-family: 'Courier New', Times, monospace;"> tweetBot. </h1>

      <form method="GET" style="margin: 0; text-align: center;">
        {% csrf_token %}
        {% if form.search.errors %}
          <input id="search" type="text" name="search" placeholder="Search Keyword" class="form-control is-invalid mr-sm-0">
        {% else %}
          <input id="search" type="text" name="search" placeholder="Search Keyword" class="form-control mr-sm-0">
        {% endif %}
        <input id="retweet_threshold" type="text" name="retweet_threshold" placeholder="Retweet Threshold (must be positive)" class="form-control mr-sm-0">
        {{ form.retweet_threshold.errors }}
        <input id="favorite_threshold" type="text" name="favorite_threshold" placeholder="Favorite Threshold (must be positive)" class="form-control mr-sm-0">
        {{ form.favorite_threshold.errors }}
        <input id="date_threshold" type="date" name="date_threshold" placeholder="mm/dd/yyyy hh:mm am (only up to 7 days in the past)" class="form-control mr-sm-0">
        {{ form.date_threshold.errors }}
        <button id="search_submit" type="submit" class="btn aqua-gradient btn-rounded btn-sm my-sm-3" style="padding-bottom: 2px; padding-top: 2px">Search</button><br>  
      </form>

      <div style="display: block; text-align: center;">
        <button id="info1" data-toggle="modal" data-target="#theNewModal"><b>&#9432;</b></button>
          <!-- Search Information Modal -->
          <div class="modal fade" id="theNewModal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Search Information</h4>
                </div>
                <div class="modal-body">
                  <h5> Welcome to Tweetbot! </h5>
                  <p> This is a tool for trend tracking on what people are currently tweeting! This app will show you the polarity (If what people are saying is positive or negative), giving you a better understanding of how the trend is being viewed and talked about by Twitter users.</p>
                  <ul style="text-align: center; list-style-position: inside;">
                    <li>A Search Term is required for a serach to take place!</li>
                    <li>Retweet Threshold: Will only display tweets with a number of retweets greater than the number entered!</li>
                    <li>Favorite Threshold: Will only display tweets with a number of favorites greater than the number entered!</li>
                    <li>Date: Allows you to search based on day up to one week in the past!</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    

    <div style="padding-right: 0px"; class="col-sm-2">
    </div>
  </div>

  <!-- Breaks for style seperations reasons -->
  <br><br>

  <!-- columns divide page in 3 parts -->
  <div class="row">

    <div class="col-sm-1">
    </div>

  	<!-- Left column -->
    <!-- class was content-->
    <div class="col-sm-5">
      {% if searchBool == True %}

      <pre id="trendText"><u><b>{{ text }}</b></u></pre>

      <div id="left">
        {% for tweet_data in tweet_data_list %}
        <div class="panel panel-info">

          <div class="panel-heading">
            {% for key, value in tweet_data.items %}
              {% if key == 'User Name' %}
                <b>{{ value }} </b>
              {% endif %}
            {% endfor %}
            {% for key, value in tweet_data.items %}
              {% if key == 'Screen Name' %}
                <a href="https://twitter.com/{{value}}" target="_blank"><i>@{{ value }}</i></a>
              {% endif %}
            {% endfor %}
          </div>

          <div class="panel-body">
            {% for key, value in tweet_data.items %}
              {% if key == 'Tweet Text' %}
                {{ value }}
              {% endif %}
            {% endfor %}

            <br>

            <!-- working on this to bold text
            {% for key, value in tweet_data.items %}
              {% if key == 'tweetInListForm' %}
                {% for word in value %}
                  {% if word == text%}
                    <b>{{ word }}</b>
                  {% else %}
                    {{ word }}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}<br><br>-->

            {% for key, value in tweet_data.items %}
              {% if key == 'tweetURL' %}
                <a href="{{ value }}" target="_blank">View tweet on Twitter here.</a>
              {% endif %}
            {% endfor %}
          </div>

          <div class="panel-footer">
            {% for key, value in tweet_data.items %}
              {% if key == 'Retweet Count' %}
                <b>{{ value }} </b>Retweets
              {% endif %}
            {% endfor %}

            {% for key, value in tweet_data.items %}
              {% if key == 'Favorite Count' %}
                <b>{{ value }} </b>Likes
              {% endif %}
            {% endfor %}

            <br>

            {% for key, value in tweet_data.items %}
              {% if key == 'Tweet Polarity' %}
                {% if value > 0 %}
                  <b style="color: green">{{ value }} </b>Polarity
                {% elif value < 0 %}
                  <b style="color: firebrick">{{ value }} </b>Polarity
                {% else %}
                  <b>{{ value }} </b>Polarity
                {% endif %}
              {% endif %}
            {% endfor %}

            {% for key, value in tweet_data.items %}
              {% if key == 'Tweet Subjectivity' %}
                <b>{{ value }} </b>Subjectivity
              {% endif %}
            {% endfor %}

            <br>

            {% for key, value in tweet_data.items %}
              {% if key == 'Tweet Created At' %}
                <i>{{ value }} </i>
              {% endif %}
            {% endfor %}

          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    <!-- Right column -->
    <div class="col-sm-5" id="right">
      {% if searchBool == True %}
      <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-bottom: 15px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <!-- <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li> -->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            {{ div1 | safe }}
                {{ script1 | safe }}
          </div>

          <div class="item">
            {{ div2 | safe }}
                {{ script2 | safe }}
          </div>
          <div class="item">
            {{ div3 | safe }}
                {{ script3 | safe }}
          </div>
        </div>

        <!-- Left and right controls -->
        <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
      {% endif %}
    </div>

    <div class="col-sm-1">
    </div>

  </div>

  <br>

  {% if searchBool == True %}
  <div class="row">
    <div class="col-sm-1">
    </div>

    <div class="col-sm-5">
      <pre id="history">
        <div style="text-align: center;">
          <b><u><p style="margin-bottom: 0px">Sort Tweet Display By:</p></u></b>
          <br>
          <button type="button" class="btn btn-success" style="background-color: green">Positive</button>
          <button type="button" class="btn btn-danger" style="margin-left:5em; background-color: firebrick">Negative</button>
          <button type="button" class="btn btn-secondary" style="margin-left:5em; background-color: #236D91">Neutral</button>
        </div>
      </pre>
    </div>

    <!-- History Bar -->
    <div class="col-sm-5" style="margin-left: 0px">
      <form method="GET"  style="margin: 0; text-align: center;">
        {% csrf_token %}
        <pre id="history" style="padding-bottom: 15px; padding-top: 14px"><i><b>History:</b></i>  {% for search in history %}<input id="search" type="submit" name="search" value="{{ search }}" class="btn aqua-gradient btn-rounded btn-sm my-sm-3" style="padding-bottom: 2px; padding-top: 2px"></input> • {% endfor %}</form>
        </pre>
    </div>

    <div class="col-sm-1">
    </div>
  </div>
  {% endif %}
{% endblock content %}
