{% extends 'base.html' %}
{% block content %}
<script>
  $(function () {
    $('#datetimepickerUpper').datetimepicker();
 });
  $(function () {
    $('#datetimepickerLower').datetimepicker();
 });
  function delete_cookies() {
    document.cookie.split(";").forEach(function(c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
    location.reload(true);
  }
  // so this creates the lists on the page and saves the html to local storage
  // after saving, it immediately removes the innerhtml so the user can't see

  function saveLists() {
    localStorage.setItem("neg", document.getElementById("neg").innerHTML)
    document.getElementById("neg").innerHTML = "";
    localStorage.setItem("pos", document.getElementById("pos").innerHTML)
    document.getElementById("pos").innerHTML = "";
    localStorage.setItem("neu", document.getElementById("neu").innerHTML)
    document.getElementById("neu").innerHTML = "";
  }
  // these functions, on button click, set the value of our tweet list to the local storage values we set earlier for the neg/pos/neu lists
  // kinda hacky but the only way we could figure out live updates
  function filterNegative() {
    var value = document.getElementById("left");
    value.innerHTML = localStorage.getItem("neg");
    console.log(value);
  }
  function filterPositive() {
    var value = document.getElementById("left");
    value.innerHTML = localStorage.getItem("pos");
    console.log(value);
  }
  function filterNeutral() {
    var value = document.getElementById("left");
    value.innerHTML = localStorage.getItem("neu");
    console.log(value);
  }
</script>
  <br>

  {% if searchBool == True %}
    <!-- Delete Cookies Button -->
    <div style="text-align: center">
      
    </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-2">
    </div>

    <div class="col-sm-8">
      <!-- header temporary holder for logo-->
      {% if searchBool == False %}
        <h1 style="text-align: center; padding-top: 150px; color: #00acee; font-family: 'Courier New', Times, monospace;"> tweetBot. </h1>
      {% else %}
        <h1 style="text-align: center; color: #00acee; font-family: 'Courier New', Times, monospace;">tweetBot.</h1>
      {% endif %}

      <!-- Search Bars -->
      <form method="GET" style="margin: 0; text-align: center;">
        <!-- Term Search Bar -->
        {{ rate_limit_error }}
        {% csrf_token %}
        {% if form.search.errors %}
          <input id="search" type="text" name="search" placeholder="Search Keyword" class="form-control is-invalid mr-sm-0">
        {% else %}
          <input id="search" type="text" name="search" placeholder="Search Keyword" class="form-control mr-sm-0">
        {% endif %}
        <!-- Amount of Tweets Search Bar -->
        <input id="tweet_number" type="number" name="tweet_number" class="form-control mr-sm-0" placeholder="Number of tweets (1-100)" min="1" max="100">
        {{ form.tweet_number.errors }}
        <!-- Retweet Search Bar -->
        <input id="retweet_threshold" type="number" name="retweet_threshold" placeholder="Retweet Threshold (must be positive)" class="form-control mr-sm-0" min="1">
        {{ form.retweet_threshold.errors }}
        <!-- Favorite Search Bar -->
        <input id="favorite_threshold" type="number" name="favorite_threshold" placeholder="Favorite Threshold (must be positive)" class="form-control mr-sm-0" min="1">
        {{ form.favorite_threshold.errors }}
        <!-- Date Search Bar -->
        <input id="date_threshold" type="date" name="date_threshold" placeholder="mm/dd/yyyy hh:mm am (only up to 7 days in the past)" class="form-control mr-sm-0">
        {{ form.date_threshold.errors }}
        <!-- two search buttons, one for secret search. has a name that if found in request.GET, it doesn't save to cookie -->
        <button id="search_submit" type="submit" class="btn aqua-gradient btn-rounded btn-sm my-sm-3" style="padding-bottom: 2px; padding-top: 2px; margin-bottom: 0px">Search</button>
        <button id="search_submit" type="submit" name="supertopsecret" class="btn aqua-gradient btn-rounded btn-sm my-sm-3" style="padding-bottom: 2px; padding-top: 2px; margin-bottom: 0px">Secret Search</button>
      </form>

      <!-- Information Icon Button and Modal -->
      <div style="display: block; text-align: center;">
        <button id="info1" data-toggle="modal" data-target="#theNewModal"><b>&#9432;</b></button>
          <!-- Search Information Modal -->
          <div class="modal fade" id="theNewModal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">TweetBot Information</h4>
                </div>
                <div class="modal-body">
                  <h5> Welcome to Tweetbot! </h5>
                  <p><b>Warning: This website uses cookies to track search history for our users.</b></p>
                  <p> This is a tool for trend tracking on what people are currently tweeting! This app will show you the polarity (If what people are saying is positive or negative), giving you a better understanding of how the trend is being viewed and talked about by Twitter users.</p>
                  <ul style="text-align: center; list-style-position: inside;">
                    <li>A Search Term is required for a search to take place!</li>
                    <li>Search results are sorted by polarity in ascending order (Lowest to Highest)!</li>
                    <li>Retweet Threshold: Will only display tweets with a number of retweets greater than the number entered!</li>
                    <li>Favorite Threshold: Will only display tweets with a number of favorites greater than the number entered!</li>
                    <li>Date: Will only display tweets starting from 7 days in the past and before this date!  Tweets are from US EST time zone! </li>
                    <li>Secret Search: Use this button if you don't want your search to be saved to your history! </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    

    <div style="padding-right: 0px"; class="col-sm-2">
    </div>
  </div>

  <!-- Breaks for style seperations reasons -->
  <br><br>

  <!-- columns divide page in 3 parts -->
  <div class="row">

    <div class="col-sm-1">
    </div>

  	<!-- Left column -->
    <!-- class was content-->
    <div class="col-sm-5">
      {% if searchBool == True %}
          <pre id="trendText"><u><b>{{ text }}</b></u></pre>

          <div id="left">
            <!-- For loop printing tweets individually -->
            {% for tweet_data in tweet_data_list %}
            <div class="panel panel-info">

              <div class="panel-heading">
                <!-- User Name -->
                {% for key, value in tweet_data.items %}
                  {% if key == 'User Name' %}
                    <b>{{ value }} </b>
                  {% endif %}
                {% endfor %}
                <!-- Screen Name -->
                {% for key, value in tweet_data.items %}
                  {% if key == 'Screen Name' %}
                    <a href="https://twitter.com/{{value}}" target="_blank"><i>@{{ value }}</i></a>
                  {% endif %}
                {% endfor %}
              </div>

              <div class="panel-body">
                <!-- Tweet text with bolding -->
                {% for key, value in tweet_data.items %}
                  {% if key == 'tweetInListForm' %}
                    {% for word in value %}
                      {% if word|lower == text|lower or text|lower in word|lower %}
                        <b>{{ word }}</b>
                      {% elif "https://t.co" in word|lower %}
                        <a href="{{ word }}" target="_blank">{{ word }}</a>
                      {% else %}
                        {{ word }}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}

                <br>

                <!-- URL to actual tweet -->
                {% for key, value in tweet_data.items %}
                  {% if key == 'tweetURL' %}
                    <a href="{{ value }}" target="_blank">View tweet on Twitter here.</a>
                  {% endif %}
                {% endfor %}
              </div>

              <div class="panel-footer">
                <!-- Retween Number -->
                {% for key, value in tweet_data.items %}
                  {% if key == 'Retweet Count' %}
                    <b>{{ value }} </b>Retweets
                  {% endif %}
                {% endfor %}

                <!-- Favorite Number -->
                {% for key, value in tweet_data.items %}
                  {% if key == 'Favorite Count' %}
                    <b>{{ value }} </b>Favorites
                  {% endif %}
                {% endfor %}

                <br>

                <!-- Polarity -->
                {% for key, value in tweet_data.items %}
                  {% if key == 'Tweet Polarity' %}
                    {% if value > 0 %}
                      <b style="color: green">{{ value }} </b>Polarity
                    {% elif value < 0 %}
                      <b style="color: firebrick">{{ value }} </b>Polarity
                    {% else %}
                      <b>{{ value }} </b>Polarity
                    {% endif %}
                  {% endif %}
                {% endfor %}

                <!-- Subjectivity -->
                {% for key, value in tweet_data.items %}
                  {% if key == 'Tweet Subjectivity' %}
                    <b>{{ value }} </b>Subjectivity
                  {% endif %}
                {% endfor %}

                <br>

                <!-- Time Tweet was created -->
                {% for key, value in tweet_data.items %}
                  {% if key == 'Tweet Created At' %}
                    <i>{{ value }} </i>
                  {% endif %}
                {% endfor %}

              </div>
            </div>
            {% endfor %}
          </div>
      {% endif %}
    </div>

    <!-- Right column -->
    <div class="col-sm-5" id="right">
      {% if searchBool == True %}
      <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-bottom: 15px;">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            {{ div1 | safe }}
                {{ script1 | safe }}
          </div>

          <div class="item">
            {{ div2 | safe }}
                {{ script2 | safe }}
          </div>
          <div class="item">
            {{ div3 | safe }}
                {{ script3 | safe }}
          </div>
          <div class="item">
            <img src="data:image/png;base64,{{image_base64}}" alt="error" width=500 height=auto />
          </div>
        </div>

      </div>
      {% endif %}
    </div>

    <div class="col-sm-1">
    </div>

  </div>

  <br>

  {% if searchBool == True %}
  <div class="row">
    <div class="col-sm-1">
    </div>

    <div class="col-sm-5">
      <pre id="history">
        <div style="text-align: center;">
          <b><u><p style="margin-bottom: 0px">Sort Tweet Display By:</p></u></b>
          <!-- buttons -->
          <br>

          <button type="button" class="btn btn-success" onclick="filterPositive();" style="background-color: green">Positive</button>
          <button type="button" class="btn btn-danger" onclick="filterNegative();" style="margin-left:5em; background-color: firebrick">Negative</button>
          <button type="button" class="btn btn-secondary" onclick="filterNeutral();" style="margin-left:5em; background-color: #236D91">Neutral</button>
            <!-- <pre id="trendText"><u><b>{{ text }}</b></u></pre> -->
            <!-- ima keep it real with you chief, this code is gross -->
            <!-- had to copy and paste the tweet list 3 times, one for each filter option -->
            <!-- this is so that we can copy the inner html as seen on line 17 -->
            <div id="pos">
              {% for tweet_data in pos_tweet_data_list %}
              <div class="panel panel-info">

                <div class="panel-heading">
                  {% for key, value in tweet_data.items %}
                    {% if key == 'User Name' %}
                      <b>{{ value }} </b>
                    {% endif %}
                  {% endfor %}
                  {% for key, value in tweet_data.items %}
                    {% if key == 'Screen Name' %}
                      <a href="https://twitter.com/{{value}}" target="_blank"><i>@{{ value }}</i></a>
                    {% endif %}
                  {% endfor %}
                </div>

                <div class="panel-body">
                  {% for key, value in tweet_data.items %}
                    {% if key == 'tweetInListForm' %}
                      {% for word in value %}
                        {% if word|lower == text|lower or text|lower in word|lower %}
                          <b>{{ word }}</b>
                        {% elif "https://t.co" in word|lower %}
                          <a href="{{ word }}" target="_blank">{{ word }}</a>
                        {% else %}
                          {{ word }}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}

                  <br>

                  {% for key, value in tweet_data.items %}
                    {% if key == 'tweetURL' %}
                      <a href="{{ value }}" target="_blank">View tweet on Twitter here.</a>
                    {% endif %}
                  {% endfor %}
                </div>

                <div class="panel-footer">
                  {% for key, value in tweet_data.items %}
                    {% if key == 'Retweet Count' %}
                      <b>{{ value }} </b>Retweets
                    {% endif %}
                  {% endfor %}

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Favorite Count' %}
                      <b>{{ value }} </b>Likes
                    {% endif %}
                  {% endfor %}

                  <br>

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Tweet Polarity' %}
                      {% if value > 0 %}
                        <b style="color: green">{{ value }} </b>Polarity
                      {% elif value < 0 %}
                        <b style="color: firebrick">{{ value }} </b>Polarity
                      {% else %}
                        <b>{{ value }} </b>Polarity
                      {% endif %}
                    {% endif %}
                  {% endfor %}

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Tweet Subjectivity' %}
                      <b>{{ value }} </b>Subjectivity
                    {% endif %}
                  {% endfor %}

                  <br>

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Tweet Created At' %}
                      <i>{{ value }} </i>
                    {% endif %}
                  {% endfor %}

                </div>
              </div>
              {% endfor %}
            </div>

            <!-- Reprints tweets for negative polarity only -->
            <div id="neg">
              {% for tweet_data in neg_tweet_data_list %}
              <div class="panel panel-info">

                <div class="panel-heading">
                  {% for key, value in tweet_data.items %}
                    {% if key == 'User Name' %}
                      <b>{{ value }} </b>
                    {% endif %}
                  {% endfor %}
                  {% for key, value in tweet_data.items %}
                    {% if key == 'Screen Name' %}
                      <a href="https://twitter.com/{{value}}" target="_blank"><i>@{{ value }}</i></a>
                    {% endif %}
                  {% endfor %}
                </div>

                <div class="panel-body">
                  {% for key, value in tweet_data.items %}
                    {% if key == 'tweetInListForm' %}
                      {% for word in value %}
                        {% if word|lower == text|lower or text|lower in word|lower %}
                          <b>{{ word }}</b>
                        {% elif "https://t.co" in word|lower %}
                          <a href="{{ word }}" target="_blank">{{ word }}</a>
                        {% else %}
                          {{ word }}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}

                  <br>

                  {% for key, value in tweet_data.items %}
                    {% if key == 'tweetURL' %}
                      <a href="{{ value }}" target="_blank">View tweet on Twitter here.</a>
                    {% endif %}
                  {% endfor %}
                </div>

                <div class="panel-footer">
                  {% for key, value in tweet_data.items %}
                    {% if key == 'Retweet Count' %}
                      <b>{{ value }} </b>Retweets
                    {% endif %}
                  {% endfor %}

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Favorite Count' %}
                      <b>{{ value }} </b>Likes
                    {% endif %}
                  {% endfor %}

                  <br>

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Tweet Polarity' %}
                      {% if value > 0 %}
                        <b style="color: green">{{ value }} </b>Polarity
                      {% elif value < 0 %}
                        <b style="color: firebrick">{{ value }} </b>Polarity
                      {% else %}
                        <b>{{ value }} </b>Polarity
                      {% endif %}
                    {% endif %}
                  {% endfor %}

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Tweet Subjectivity' %}
                      <b>{{ value }} </b>Subjectivity
                    {% endif %}
                  {% endfor %}

                  <br>

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Tweet Created At' %}
                      <i>{{ value }} </i>
                    {% endif %}
                  {% endfor %}

                </div>
              </div>
              {% endfor %}
            </div>

            <!-- Reprints to Neutral only -->
            <div id="neu">
              {% for tweet_data in neu_tweet_data_list %}
              <div class="panel panel-info">

                <div class="panel-heading">
                  {% for key, value in tweet_data.items %}
                    {% if key == 'User Name' %}
                      <b>{{ value }} </b>
                    {% endif %}
                  {% endfor %}
                  {% for key, value in tweet_data.items %}
                    {% if key == 'Screen Name' %}
                      <a href="https://twitter.com/{{value}}" target="_blank"><i>@{{ value }}</i></a>
                    {% endif %}
                  {% endfor %}
                </div>

                <div class="panel-body">
                  {% for key, value in tweet_data.items %}
                    {% if key == 'tweetInListForm' %}
                      {% for word in value %}
                        {% if word|lower == text|lower or text|lower in word|lower %}
                          <b>{{ word }}</b>
                        {% elif "https://t.co" in word|lower %}
                          <a href="{{ word }}" target="_blank">{{ word }}</a>
                        {% else %}
                          {{ word }}
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}

                  <br>

                  {% for key, value in tweet_data.items %}
                    {% if key == 'tweetURL' %}
                      <a href="{{ value }}" target="_blank">View tweet on Twitter here.</a>
                    {% endif %}
                  {% endfor %}
                </div>

                <div class="panel-footer">
                  {% for key, value in tweet_data.items %}
                    {% if key == 'Retweet Count' %}
                      <b>{{ value }} </b>Retweets
                    {% endif %}
                  {% endfor %}

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Favorite Count' %}
                      <b>{{ value }} </b>Likes
                    {% endif %}
                  {% endfor %}

                  <br>

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Tweet Polarity' %}
                      {% if value > 0 %}
                        <b style="color: green">{{ value }} </b>Polarity
                      {% elif value < 0 %}
                        <b style="color: firebrick">{{ value }} </b>Polarity
                      {% else %}
                        <b>{{ value }} </b>Polarity
                      {% endif %}
                    {% endif %}
                  {% endfor %}

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Tweet Subjectivity' %}
                      <b>{{ value }} </b>Subjectivity
                    {% endif %}
                  {% endfor %}

                  <br>

                  {% for key, value in tweet_data.items %}
                    {% if key == 'Tweet Created At' %}
                      <i>{{ value }} </i>
                    {% endif %}
                  {% endfor %}

                </div>
              </div>
              {% endfor %}
              <!-- end of copy pasted lists -->
            </div>
        </div>
      </pre>
    </div>
    <!-- runs saveLists to save them to local storage and delete their html from the page before the user can see :) -->
    <script>saveLists();</script>
    <!-- History Bar -->
    <div class="col-sm-5" style="margin-left: 0px">
      <form method="GET"  style="margin: 0; text-align: center;">
        {% csrf_token %}
        <pre id="history" style="padding-bottom: 15px; padding-top: 14px"><i><b>History:</b></i>  {% for search in history %}<input id="search" type="submit" name="search" value="{{ search.0 }}" class="btn aqua-gradient btn-rounded btn-sm my-sm-3" style="padding-bottom: 2px; padding-top: 2px"></input><input type="hidden" name="retweet_threshold" value="{{ search.1 }}"/><input type="hidden" name="favorite_threshold" value="{{ search.2 }}"/><input type="hidden" name="date_threshold" value="{{ search.3 }}"/>• {% endfor %}</form>
        </pre>
    </div>

    <div class="col-sm-1">
    </div>
  </div>
  {% endif %}
{% endblock content %}
